const express = require('express');
const { Pool } = require('pg');
const app = express();
const port = 3000;

const pool = new Pool({
  user: '{{ ansible_hostname }}',
  password: 'Otus2024!',
  host: '192.168.255.100',
  port: '5432',
  database: 'otus'
});

app.use(express.json());

app.get('/', async (req, res) => {
  try{
    const query = 'SELECT * FROM email;';
    const { rows } = await pool.query(query);
    res.status(200).json(rows);
  }catch(err) {
    console.error(err);
    res.status(500).send('failed');
  }
});

app.listen(port, () => {
  console.log(`Example app listening on port ${port}`)
});